h1{
	color: white;
	background-color: black;
	text-align: center;	
}

body {
	margin: 0 auto;
}

div.projects {
	position absolute;
	left: 50%;
	margin-left -50%;
}

#orpheus {
	width: 560px;
	height: auto;
	
}

