h1{
    font-family: sans-serif;
	color: white;
	background-color: black;
	text-align: center;	
}

h2 {
    font-family: sans-serif;
}

/*div.projects {
	padding-left 10%;
}*/
/*Set up grid look*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px auto;
    grid-gap: 20px;
}

.grid-item h3 {
    font-family: sans-serif;
    text-align: center;
    color: white;
    padding-top: 40%;
   
}

.grid-item p {
    font-family: sans-serif;
   
}

/*Set background colour to black until user hovers over it*/
.grid-item {
    background: lightblue;
}

.grid-item:hover {
    background: white;
}
.grid-item:hover h3{
    padding-top: 0%;
    color: black;
}

/*Set description of project invisible until use hovers over it*/
.projectcontent {
    visibility: collapse;
}

.grid-item:hover .projectcontent {
    visibility: visible;
}

#pagehead {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    column-span: all;
    padding: 10px;
}

#projects {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    text-decoration: underline;
    grid-row-start: 2;
    grid-row-end: 2;
    
}

.grid-item {
    padding: 10px;
    border-color: lightblue;
    border-style: solid;
    border-width: medium;
    height: 300px;
    width: 300px;
}
.grid-item:hover {
    border-color: lightskyblue;
    border-width: thick;
    height: auto;
    width: auto;
}

#project1 {
    margin-left: 10%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;

}

#project1:hover {
    grid-column-start: 1;
    grid-column-end: 3;

}

#earvideo {
    width: 100%;
	height: auto;
    
}
#project2 {
    margin-right: 10%;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
}

#project2:hover {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;

}


#orpheus {
	width: 100%;
	height: auto;	
}



